/*  Overriding bootstrap CSS*/
.modal {
    position: relative;
    transition: 200ms ease-in-out;
    width: 600px;
}

/*  https://www.w3schools.com/cssref/pr_font_weight.asp   */
.user-warning {
    color: red;
    font-weight: bold;
}
/*  https://www.w3schools.com/cssref/pr_text_text-decoration.asp    */
.text-bld-underline {
    font-weight: bold;
    text-decoration: underline;
}
.modal-text-block {
    padding: 14px;
}
.modal-footer {
    align-self: center;
}
/*  https://www.w3schools.com/css/css_align.asp */
/*  https://www.w3schools.com/css/css_font_size.asp */
.warning-title {
    padding: 20px;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}
.warning-text-block {
    padding: 10px;
}
.warning-text-bullet {
    padding: 10px 10px 10px 30px;
}
/*  https://www.w3schools.com/howto/howto_css_center_button.asp */
.warning-buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  https://www.w3schools.com/cssref/pr_list-style-image.asp    */
ul.bullet {
    list-style-type: disc;
}
ul.sub-bullet {
    list-style-type: circle;
}