
.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    min-height: 700px;

    background-color: white;
}
.flexbox-item {
    width: 300px;
    margin: 10px;
    padding-top: 5px;
}
.flexbox-item-1 {
    min-height: 100px;
}
.cancelButton {
    padding: 5px 0 0 10px;
}
.app-info {
    padding: 5px 0 10px 10px;
    align-self: center;
    font-size: 1.1rem;
}
.app-intro {
    padding: 5px 0 10px 10px;
}
.flexbox-item-main {
    padding-bottom: 20px;
}
.form-check {
    margin-left: 10px;
}
.personal-rep-block {
    margin-left: 10px;
}
.flexbox-item-footer {
    background-color: #0099D8;
    color: white;

    padding: 24px;
    margin-top: auto;
    height: 120px;
    text-align: center;
}
.flexbox-item-footer a {
    color: white;
}
.version {
    font-size: 0.6rem;
}
/*  Brian Bridwell styles */

.buttonBox {
    margin-top: 20px;
    /*position: relative;*/
    justify-content: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.center-btn{
    position: relative;
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    border:solid thin blue;
    border-radius: 8px;
}
.labelBox{
    width:250px;
    position:relative;
    font-weight: bold;
}
.typeSectionTitle{
    position:relative;
    font-weight: bold;
    margin-top:20px;
}
.typeSectionHR{
    margin-top: -15px;
    position:relative;
}
.infoAccess{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    float:right;
    margin-left: 10px;
    position: relative;
}
.infoButton{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    float:right;
    position: relative;
    margin-left: 8px;
}
.keySymbol{
    width: 14px;
    height: 14px;
    position: relative;
    float: right;
}
.keyDescription {
    font-size: 11px;
    position: relative;
    float: left;
    text-align: left;
    height: 20px;
}

