@media (min-width: 320px) {
  .container {
    max-width: 100%;
  }
}
/* CSS Document */
.containerModal {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
}
.premeraHeader {
  width: 100%;
}
.smartAppHeader {
  width: 100%;
  margin-top: 40px;
}
.buttonBox {
  margin-top: 20px;
  position: relative;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.left-btnLink {
  position: relative;
  padding-top: 6px;
  width: 50%;
  left: 50px;
  float: left;
  font-size: 14px;
}
.right-btn {
  position: relative;
  width: 45%;
  right: 20px;
  float: left;
  height: 30px;
  font-size: 13px;
  color: #ffffff;
}
.right-btnSmart{
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #ffffff;
}
/* Experimental */
.buttonBox {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}
.left-btnModalLink {
  position: relative;
  float: left;
  width: 40%;
  top: 20px;
  padding: 0px 5px 0px 5px;
	min-width:150px;
}
.right-btnModal {
  position: relative;
  float: right;
  width: 40%;
  top: 8px;
  font-size: 13px;
  margin-top: 6px;
	margin-right:24px;
}
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  border: #000 thin solid;
}
.form-oneColumn {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
}
.fform-oneColumn .checkbox {
  font-weight: 400;
}
.fform-oneColumn .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
}
.fform-oneColumn .form-control:focus {
  z-index: 2;
}
.form-oneColumn input[type="one"] {
  margin-bottom: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 30px;
}
.form-oneColumn input[type="two"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 30px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="one"] {
  margin-bottom: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 30px;
}
.form-signin input[type="two"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 30px;
}
.pageTitle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  height: auto;
  z-index: 0;
  color: #292931;
  text-align: center;
  font-size: 20px;
}
.pageTitleSmartApp {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
	margin-bottom: 10px;
  height: auto;
  z-index: 0;
  color: #6a2071;
  text-align: center;
  font-size: 20px;
}
.modalTitle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
	width: 275px;
  top: 5px;
  height: auto;
  z-index: 0;
  color: #009BDB;
  text-align: center;
  font-size: 20px;
}
.btn-secondary {
  background-color: #6a2071;
}
.text-my-own-color {
  color: #FFFFFF !important; // Define your own color in your CSS
}
.text-my-own-color:hover, .text-my-own-color:active {
  color: #f00 !important; // Define your own color's darkening/lightening in your CSS
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.text-footer:hover, .text-my-own-color:active {
  color: #86DBFF !important;
}
.transparent {
  background-color: rgba(0, 0, 0, 0.15);
}
.panel {
  background-color: transparent;
  border: 1px #222;
}
.intro {
  width: 100%;
  height: 100%;
  max-width: 300px;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
.hipaaBox {
  top: 30px;
  width: 250px;
  height: 400px;
  z-index: 30;
  position: relative;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.modal-content {
  min-width: 300px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}
.peoplePickerBox{
	width: 300px;
	margin-left: auto;
	margin-right:auto;
	padding:20px;
}
.infoAccess{
	width: 20px;
	height: 20px;
		margin-bottom: 5px;
	float:right;
	margin-left: 10px;
	position: relative;
}
.infoButton{
	width: 20px;
	height: 20px;
		margin-bottom: 5px;
	float:right;
	position: relative;
	margin-left: 8px;
}
.labelBox{
	width:250px;
	position:relative;
	font-weight: bold;
}
.typeSectionTitle{
		position:relative;
	font-weight: bold;
	margin-top:20px;
}
.typeSectionHR{
margin-top: -15px;
	position:relative;
}
.consentKey{
	border: thin solid #fff;
	position: relative;
	margin-bottom: 30px;
}
.keySymbol{
	width: 14px;
	height: 14px;
	position: relative;
	float: right;
}
.keyDescription {
	font-size: 11px;
	position: relative;
	float: left;
	text-align: left;
	height: 20px;
}
.claimListBox{
	position:relative;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	float: right;
}
.claimsList{
position:relative;
	margin-left:10px;
	width:300px;
}
.claimTitle{
 margin-top: 35px;
	margin-bottom: 5px;
  height: auto;
  z-index: 0;
  color: #000;
	font-weight: bold;
  font-size: 16px;
}

.whiteText{
color: #ffffff;
}
.contentBox-Mobile {
  width: 300px;
  position: relative;
  height: auto;
  font-size: 14px;
  text-align: left;
  z-index: 30;
}
.topnav {
  overflow: hidden;
  position: relative;
}
.topnav #myLinks {
  display: none;
	  position: relative;
	text-align: center;
}

.topnav a {
  color: #009BDB;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
	  position: relative;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
	font-size: 24px;
	margin-right: 20px;
	margin-top: 10px;
}
.logoLeft{
	float:left;
	padding-left: 20px;
}
.center-btn{
  position: relative;
  width: 100%;
	margin-right:auto;
	margin-left:auto;
	border:solid thin blue;
}
.centerLinkText{
  position: relative;
  width: 100%;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	margin-bottom: 50px;
}
.btn-primary {
	position: relative;
	border-radius: 8px;
	border: none;
	padding: 8px 20px 8px 20px;
	font-size: 12px;
		margin-right:auto;
	margin-left:auto;
}
.footerBox {
  width: 300px;
  color: #ffffff;
  background-color: #0076B9;
  padding-top: 10px;
	padding-bottom: 10px;
  font-size: 14px;
	z-index: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.footerBackground {
  width: 100%;
  background-color: #0076B9;
  padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}
.footerRight {
  position: relative;
  margin: 0px 30px 0px 0px;
}
.footerLeft {
  position: relative;
  margin: 0px 0px 0px 30px;
  left: 0px;
  text-align: left;
}
.text-footer {
  color: #FFFFFF !important;
}
.overlayLink {
	position: relative;
	padding-left: 20px;
}
.modal-footer {
    padding: 0px;
}
.paddedBox{
	padding-left:20px;
	padding-right:20px;
}
