<!--    tag:     10001 -->
<!--    version: 0.1.24 - 2021-07-20  -->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- ############################################ -->
    <!-- ############# INSERTED CONTENT ############# -->
    <% include imports %>
    <!-- ############# INSERTED CONTENT ############# -->
    <!-- ############################################ -->
    <%- include('./styles/terms-styles.ejs') %>

</head>
<!-- Body is a CSS Grid -->
<body>
<!-- ############################################ -->
<!-- ############# INSERTED CONTENT ############# -->
<% include page_top %>
<!-- ############# INSERTED CONTENT ############# -->
<!-- ############################################ -->

<!--    The blue horizontal band across the whole page -->
<div class="divider"></div>

<!-- ############################################ -->
<!-- ############# INSERTED CONTENT ############# -->
<!-- ############# INSERTED CONTENT ############# -->
<!-- ############################################ -->

<!-- ############################################### -->
<!-- ############# MAIN CONTENT HERE ############### -->
<div class="content">
    <h4><strong><%= pageContent.pageTitle %></strong></h4>
    <div class="content-prompt">
        <%= pageContent.prompt %>
    </div>
    <p></p>
    <div class="form-grid">
        <!--Form-->
        <form action="/registration" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="content-grid">

                <!-- ########################################################################### -->
                <!-- ###################  ----- Terms & Conditions -----  ###################### -->
                <!-- ########################################################################### -->
                <div class="terms_conditions">
                    <p><strong>DEVELOPER TERMS AND CONDITIONS </strong></p>
                    <!-- <p>These Terms and Conditions (these &rdquo;<strong>Terms and Conditions&rdquo;</strong>) are made between Project Connect Inc. (&ldquo;<strong>Project Connect</strong>&rdquo;) and you or the entity or company that you represent (&ldquo;<strong>Developer</strong>&rdquo;), and governs Developer&rsquo;s use of Project Connect&rsquo;s Patient Access, Provider Directory, Payer to Payer application programming interfaces and other associated access tokens, app keys, HTML scripts, sample source code, documentation, and other materials and technology made available to the Developer (collectively &ldquo;<strong>Project Connect APIs</strong>&rdquo;). If you do not have the authority to agree to these Terms and Conditions on behalf of the entity or company that you represent, or if you do not agree with these Terms and Conditions, you must not accept or agree to these Terms and Conditions and you must not download or use any part of the Project Connect API.</p> -->
                    <p>These Terms and Conditions (these ”Terms and Conditions”) are made between Project
                        Connect Inc. (“Project Connect”) and you or the entity or company that you represent
                        (“Developer”), and governs Developer’s use of Project Connect’s Patient Access,
                        Provider Directory, Payer to Payer application programming interfaces and other
                        associated access tokens, app keys, HTML scripts, sample source code, documentation,
                        and other materials and technology made available to the Developer (collectively “Project
                        Connect <strong>APIs</strong>”). If you do not have the authority to agree to these Terms and Conditions
                        on behalf of the entity or company that you represent, or if you do not agree with these
                        Terms and Conditions, you must not accept or agree to these Terms and Conditions and
                        you must not download or use any part of the Project Connect API. </p>
                        <!-- <li><strong> Program Registration and Acceptance of Program Terms. </strong>By downloading or otherwise using any part of the Project Connect API, Developer represents and warrants that Developer (i) has read these Terms and Conditions, understands them, and agrees to be bound by them; and (ii) has the necessary authority to enter into these Terms and Conditions, on behalf of Developer. THESE TERMS AND CONDITIONS INCLUDE A BINDING ARBITRATION AND CLASS ACTION/JURY TRIAL WAIVER SECTION BELOW WHICH DETERMINE HOW DISPUTES WILL BE HANDLED.</li> -->
                        <p><strong>1.</strong> Program Registration and Acceptance of Program Terms. By downloading or otherwise
                            using any part of the Project Connect API, Developer represents and warrants that
                            Developer (i) has read these Terms and Conditions, understands them, and agrees to
                            be bound by them; and (ii) has the necessary authority to enter into these Terms and
                            Conditions, on behalf of Developer. THESE TERMS AND CONDITIONS INCLUDE A
                            BINDING ARBITRATION AND CLASS ACTION/JURY TRIAL WAIVER SECTION
                            BELOW WHICH DETERMINE HOW DISPUTES WILL BE HANDLED.
                        </p>
                        <!-- <li><strong> Confidentiality. </strong>Unless otherwise expressly provided in these Terms and Conditions, Developer agrees not to use, or disclose, duplicate, publish, release, transfer or otherwise make available any Confidential Information (as defined below) in any form to, or for the use or benefit of, any person or entity, without Project Connect&rsquo;s prior written consent. &ldquo;Confidential Information&rdquo; means financial, business or technical information that are disclosed by or for Project Connect in relation to these Terms and Conditions (including all copies, analyses and derivatives thereof) and which are marked or otherwise identified as proprietary or confidential at the time of disclosure, or which given the circumstances of their disclosure or by their nature would be understood by a reasonable person to be proprietary or confidential and includes but is not limited to: ideas, data, concepts, software, designs, drawings, techniques, models, source or object code, diagrams, charts, marketing plans or materials, pricing or product information, business strategies or plans, financial or underwriting information, customer or member information (including but not limited to individually identifiable health or financial information), lists, formulas or other similar materials. Confidential Information may be provided by or on behalf of Project Connect in tangible or intangible formats and/or on media, as well as in visual and/or oral forms. For avoidance of doubt, the Project Connect API, as well as any content, in-development features and other information disclosed to Developer by or on behalf of Project Connect, via any test, development or production environment site, are Project Connect&rsquo;s Confidential Information. Confidential Information does not include: (a) information that was generally known to the public at the time disclosed to Developer; (b) information that becomes generally known to the public (other than through a breach of this Section 2) after disclosure to Developer; (c) information that was rightfully in Developer&rsquo;s possession free of any obligation of confidentiality prior to disclosure by or on behalf of Project Connect; (d) information that is rightfully received by Developer from a third party without any restriction on disclosure; or (e) information that was</li> -->
                        <p><strong>2.</strong> Confidentiality. Unless otherwise expressly provided in these Terms and Conditions,
                            Developer agrees not to use, or disclose, duplicate, publish, release, transfer or otherwise
                            make available any Confidential Information (as defined below) in any form to, or for the
                            use or benefit of, any person or entity, without Project Connect’s prior written consent.
                            “Confidential Information” means financial, business or technical information that are
                            disclosed by or for Project Connect in relation to these Terms and Conditions (including
                            all copies, analyses and derivatives thereof) and which are marked or otherwise identified
                            as proprietary or confidential at the time of disclosure, or which given the circumstances
                            of their disclosure or by their nature would be understood by a reasonable person to be
                            proprietary or confidential and includes but is not limited to: ideas, data, concepts,
                            software, designs, drawings, techniques, models, source or object code, diagrams,
                            charts, marketing plans or materials, pricing or product information, business strategies
                            or plans, financial or underwriting information, customer or member information (including
                            but not limited to individually identifiable health or financial information), lists, formulas or
                            other similar materials. Confidential Information may be provided by or on behalf of
                            Project Connect in tangible or intangible formats and/or on media, as well as in visual
                            and/or oral forms. For avoidance of doubt, the Project Connect API, as well as any
                            content, in-development features and other information disclosed to Developer by or on
                            behalf of Project Connect, via any test, development or production environment site, are
                            Project Connect’s Confidential Information. Confidential Information does not include: (a)
                            information that was generally known to the public at the time disclosed to Developer; (b)
                            information that becomes generally known to the public (other than through a breach of
                            this Section 2) after disclosure to Developer; (c) information that was rightfully in
                            Developer’s possession free of any obligation of confidentiality prior to disclosure by or
                            on behalf of Project Connect; (d) information that is rightfully received by Developer from
                            a third party without any restriction on disclosure; or (e) information that was
                            independently developed by Developer without reference to or use of Project Connect’s
                            Confidential Information. All Confidential Information is provided “AS IS.” PROJECT
                            CONNECT MAKES NO WARRANTIES, EXPRESSED OR IMPLIED, CONCERNING
                            THE ACCURACY OR COMPLETENESS OF ANY CONFIDENTIAL INFORMATION. 
                        </p>
                        <p><strong>3.</strong> Privacy Policy and Account Credentials. Developer should keep and maintain a policy
                            for itself, its officers, employees, and subcontractors related to protection of Confidential
                            Information (the “<strong>Privacy Policy</strong>”). Developer should make such Privacy Policy available
                            to its employees and End Users (as defined below) of the Developer Application (as
                            defined below). Should Developer fail to have, maintain, or display its Privacy Policy,
                            Project Connect or any of its health plan customers shall have the right to clearly
                            indicate so to the End Users through the Project Connect API or otherwise. Should
                            Developer fail to appropriately protect Confidential Information, or comply with its
                            Privacy Policy, in a manner that introduces risk to Project Connect, any of its health plan
                            customers or End Users as identified in Project Connect’s sole determination, Project
                            Connect may restrict or terminate the use of the Project Connect API to Developer. If
                            Developer becomes aware of any unauthorized access to any part of the Project
                            Connect API, Developer shall immediately a) investigate and terminate the unauthorized
                            access, b) notify Project Connect via email <strong>PBCInteropDevhelp@project-connect.com</strong>
                            and c) implement controls to mitigate future attempts at such unauthorized access.
                        </p>
                        <p><strong>4.</strong> Developer Applications. A “Developer Application” is a mobile, website or client
                            application created or developed by Developer that accesses, calls or otherwise uses any
                            part of the Project Connect API. The Developer Application shall be made available to
                            Project Connect’s health plan customers and their members (collectively, “End Users”)
                            on the terms and conditions established by Developer, provided that such terms and
                            conditions established by Developer must meet the requirements of Section 8.1. Project
                            Connect may revoke Developer’s access to the Project Connect API at any time if a)
                            Project Connect reasonably believes, in its sole discretion, that the Developer Application
                            violates these Terms and Conditions or b) presents any risk or harm to Project Connect,
                            any of its health plan customers or End Users.
                        </p>
                        <p><strong>5. Grant of License.</strong> Subject to these Terms and Conditions, Project Connect hereby
                            grants Developer a revocable, limited, non-exclusive, non-sublicensable, nontransferable license, only to: (a) incorporate the Project Connect API within a compliant
                            Developer Application in order to access functionality of the Project Connect API(s), and
                            (b) make the Developer Application available to End Users. 
                        </p>
                        <p><strong>6. Compliance with Laws.</strong> Use of the Project Connect API is subject to United States
                            export laws and regulations. Developer agrees to comply with all applicable U.S. and
                            international export laws, including the Export Administration Regulations (EAR)
                            administered by the U.S. Department of Commerce and economic sanctions
                            administered by the U.S. Department of Treasury’s Office of Foreign Assets Control
                            (OFAC). These laws include restrictions on destinations, end-users and end-use. By
                            accepting these Terms and Conditions, Developer confirms that it is not currently
                            residing in a country or region currently embargoed by the U.S. and that it is not
                            otherwise prohibited from assessing or using the Project Connect API, and the Project
                            Connect API shall be treated as being, “Commercial Items” as that term is defined at 48
                            CFR § 2.101, consisting of “commercial computer software” and “commercial computer
                            software documentation”, respectively, as such terms are used in, respectively, 48 CFR
                            § 12.212 and 48 CFR §§ 227.7202 & 252.227-7014(a)(1). Use, duplication or disclosure
                            by the U.S. Government or a U.S. Government subcontractor is subject to the
                            restrictions in this license pursuant to 48 CFR § 12.212 or 48 CFR § 227.7202. In no
                            event shall the US Government user acquire rights in the Confidential Information
                            beyond those specified in 48 C.F.R. 52.227-19(b)(1)-(2).
                        </p>
                        <p><strong>7. Prohibited Actions.</strong> Developer shall not, and shall not attempt to, do any of the
                            following:
                            <ul>
                                <li> Use the Project Connect API or Developer Application in violation of any applicable
                                    federal, state, and local laws;</li>
                                <li>Develop or deploy the Project Connect API or Developer Application in a manner
                                    that violates 85 Fed. Reg. 25510 (May 1, 2020) (the “Interoperability Mandate”);</li>
                                <li>Violate, or encourage or facilitate the violation of these Terms and Conditions;</li>
                                <li>Distribute, resell, or permit access to any part of the Project Connect API to, or by,
                                    any third party (except through the Developer Applications that comply with these
                                    Terms and Conditions);</li>
                                <li>Use the Project Connect API other than a) in accordance with the Interoperability
                                    Mandate, b) in accordance with written instructions or documentation Project
                                    Connect provides and c) in accordance with these Terms and Conditions;</li>
                                <li>Reverse engineer, or attempt to gain unauthorized access to, the Project Connect
                                    API; or</li>
                                <li>Use the Project Connect API or Developer Applications to submit or distribute any
                                    malware (or any undisclosed feature designed to delete, disable, or otherwise
                                    harm any software, data, device, or system) to Project Connect, any of its health
                                    plan customers or to End Users.</li>
                                <li>Use the Project Connect API or Developer Applications to collect data related to
                                    End Users or any person that is not expressly permitted by the Interoperability
                                    Mandates.</li>
                            </ul>
                            </p>
                        <p><strong>8. Requirements for Developer Application.</strong> Developer Applications must comply with the
                            requirements set forth in its Privacy Policy, the Interoperability Mandate, and these
                            Terms and Conditions.
                        </p>
                        <p><strong>8.1 End User Notification.</strong> Developer shall provide clear and accurate information to
                            End Users regarding the use of the Developer Application. The notice should include the
                            following:
                        <ul>
                            <li>A description of the Developer Application’s purpose; and</li>
                            <li>A declaration that the use of the Developer Application requires End Users to
                                maintain and secure an End User account with strong password; and</li>
                            <li>Necessary disclosures to obtain End Users’ consent for Developer to collect and
                                store End User data; and</li>
                            <li>An affirmation by Developer that use and collection of End User data will comply
                                with the Privacy Policy and all applicable laws and regulations; and</li>
                            <li>An HTML link to Developer’s Privacy Policy and End User Terms and Conditions
                                for Developer Application on Developer’s website; and</li>
                            <li>A disclaimer and liability release related to the use of, and the accuracy and
                                completeness of data provided by, the Developer Application and the Project
                                Connect API.</li>
                            <li>An HTML link to End User Terms and Conditions for the use of and reliance on the
                                Project Connect API a current version of which can be found at: www.Project
                                Connect.com/legal/acceptable-use-policy; and</li>
                            <li>A HTML link to the Project Connect Report Abuse form (which can be found
                                at https://www.Project Connect.com/legal/abuse) for End Users to report any
                                suspected abuse of the Project Connect API or Developer Application. In the event
                                that an End User reports a suspected abuse of the Project Connect API or
                                Developer Application by Developer, Project Connect shall, in its sole discretion,
                                have the right to terminate Developer’s access to the Project Connect API upon
                                written notice to Developer.</li>
                        </ul>
                        </p>
                        <p><strong>8.2 Passwords and Logins.</strong> Developer will not request, obtain, or store any End User’s
                            login credentials in connection with the use of the Developer Application. Developer will
                            not use proxies or similar functionality to automate logins to Project Connect API in
                            connection with the use of the Developer Application.
                        </p>
                        <p><strong>9.</strong> Modifications to Project Connect API. The Project Connect API may be continually
                            updated and modified. Project Connect will use reasonable efforts to update Developer
                            via its website of major changes to the Project Connect API, however Developer is solely
                            responsible for the ongoing compatibility of the Developer Application with the Project
                            Connect API.
                        </p>
                        <p><strong>10.</strong> API Use Limits. Project Connect may, from time to time, impose a limit on the usage of
                            the Project Connect API. Project Connect reserves the right to temporarily, and/or
                            permanently, disable Developer’s account for improper usage, as determined by Project
                            Connect in its sole discretion.
                        </p>
                        <p><strong>11.</strong> Fees. The Project Connect API is provided to Developer at no charge, provided
                            Developer complies with these Terms and Conditions and applicable laws.
                        </p>
                    <p><strong>12. Term and Termination.</strong> </p>
                    <p>12.1 Term. These Terms and Conditions become effective as of the date Developer
                        downloads the Project Connect API, and receives Project Connect’s approval of
                        Developer’s registration (to be given in Project Connect’s sole discretion) for use of the
                        Project Connect API (the “Effective Date”), and will remain in effect unless and until either
                        party terminates these Terms and Conditions in accordance with the termination rights in
                        this Agreement (the “Term”).
                    </p>
                    <p>12.2 Termination. Either party may terminate these Terms and Conditions at any time,
                        for any reason, by written notice to the other party in accordance with the Notice Section
                        below. Developer acknowledges and agrees that Project Connect will have no liability to
                        Developer whatsoever in connection with the termination of these Terms and Conditions
                        or the revocation of Developer’s access to, or license for, the Project Connect API. 
                    </p>
                    <p>12.3 Survival. The following sections, and any section required to give effect to such
                        sections, will survive termination or expiration of these Terms and Conditions: 1, 2, 3,
                        12.3, 13, 14, 15(a), 15.2, 15.3 and 16-25. Notwithstanding any provision of a surviving
                        section, upon termination of these Terms and Conditions, Developer will have no further
                        right to use the Project Connect API.
                    </p>
                    <p><strong>13. Warranty and Liability Disclaimer.</strong></p>
                    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE PROJECT
                        CONNECT API AND THE CONFIDENTIAL INFORMATION ARE PROVIDED “AS IS”
                        AND “AS AVAILABLE.” PROJECT CONNECT MAKES NO REPRESENTATION OR
                        WARRANTY WHATSOEVER WITH RESPECT TO EITHER THE PROJECT CONNECT
                        API OR ANY CONFIDENTIAL INFORMATION WHETHER EXPRESS, STATUTORY OR
                        IMPLIED INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF
                        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, ACCURACY, OR RESULTS TO BE OBTAINED. WITHOUT LIMITING
                        THE FOREGOING, PROJECT CONNECT DOES NOT WARRANT THAT THE
                        PROJECT CONNECT API OR CONFIDENTIAL INFORMAITION WILL BE ERRORFREE, OPERATE WITHOUT INTERRUPTIONS OR DOWNTIME, BE SECURE OR
                        PRIVATE OR THAT ERRORS WILL BE CORRECTED.
                        PROJECT CONNECT MAY UPDATE OR MODIFY THE PROJECT CONNECT API,
                        TERMINATE THESE TERMS AND CONDITIONS AND/OR DISCONTINUE
                        DEVELOPER’S ACCESS TO THE PROJECT CONNECT API, AT ANY TIME, AND THE
                        DEVELOPER APPLICATION MAY CEASE TO INTERACT PROPERLY (OR AT ALL)
                        WITH THE PROJECT CONNECT API AS A RESULT OF SUCH MODIFICATION OR
                        TERMINATION. PROJECT CONNECT HAS NO LIABILITY TO DEVELOPER OR TO
                        END USERS OF THE DEVELOPER APPLICATION IN CONNECTION WITH ANY SUCH
                        MODIFICATION OR TERMINATION. 
                    </p>
                    <p><strong>14.</strong> Privacy. Project Connect processes personal information in accordance with the
                        Project Connect Privacy Notice, a current version of which can be found at www.Project
                        Connect.com/legal/privacy. By accepting these Terms and Conditions, Developer
                        acknowledges and agrees that Project Connect and its health plan customers may make
                        available certain information, including, but not limited to, the name and email address
                        associated with the Developer to End Users to contact the Developer with questions
                        regarding access to or use of the Developer Application. Additionally, Project Connect
                        may use information about End User’s and Developer’s use of the Project Connect API
                        and related development platforms and other participation with Project Connect to
                        produce reports of such data (“Reports”). Reports may include information that is nonidentifiable and information that is identifiable or attributable to Developer and may be
                        used by Project Connect for its business purposes.
                    </p>
                    <p><strong>15. Intellectual Property.</strong> </p>
                    <p>15.1 Project Connect Intellectual Property.
                        a. Ownership. As between the parties, Project Connect retains all right, title and interest
                        in and to the Project Connect API, including the technology and software used to provide
                        them and any content or data (including Confidential Information) made available to
                        Developer. Except for the limited rights to access and use the Project Connect API as set
                        forth under these Terms and Conditions, these Terms and Conditions grants no further
                        rights or license in any of Project Connect’s intellectual property.
                        b. Project Connect Marks. Developer acknowledges that the Project Connect API may
                        include Project Connect trademarks, logos, symbols, names and slogans used to
                        distinguish its products and services (“Project Connect Marks”). To the extent Developer’s
                        use of the Project Connect API causes Project Connect Marks to appear within or in
                        connection with the Developer Application (as determined by Project Connect in its sole
                        discretion), then subject to these Terms and Conditions, Project Connect grants to
                        Developer, until the expiration or termination of these Terms and Conditions, a limited,
                        revocable, non-sublicensable, non-transferable, and non-exclusive license to display
                        Project Connect Marks solely to identify the relationship of the parties expressed in these
                        Terms and Conditions and as they appear when Developer uses the Project Connect API
                        in connection with the Developer Application, and any goodwill derived from such use of
                        Project Connect Marks shall inure solely to Project Connect’s benefit. This license is
                        subject to Developer’s compliance with the Project Connect Branding Guidelines, a
                        current version of which can be found at https://www.Project
                        Connect.com/legal/intellectual-property, and the following conditions:
                        i. Developer agrees to: (a) cooperate with Project Connect to facilitate the monitoring
                        and control of Project Connect Marks; (b) upon request, use commercially reasonable
                        efforts to provide Project Connect promptly with specimens of its use; (c) comply with
                        instructions of Project Connect in relation to such use, including, if so requested by Project
                        Connect, submitting any proposed use for review and written approval (email is
                        acceptable) by Project Connect prior to public use or dissemination and immediately
                        remove any Project Connect Marks from Developer Application, Developer’s website and
                        Developer documentation.
                        ii. Developer will not at any time (a) contest or aid in contesting the validity or
                        ownership of Project Connect Marks, or take any action in derogation of Project Connect’s
                        rights therein, or adopt or register Project Connect Marks or trade dress in any jurisdiction;
                        or (b) remove or obscure any Project Connect Marks or other intellectual property notices
                        in connection with using Project Connect API, or state or imply that Project Connect or
                        any of its health plan customers endorses Developer’s company, products or any
                        Developer Applications.
                    </p>
                    <p>15.2 Project Connect Intellectual Property. As between the parties, Developer retains all
                        right, title and interest in and to the Developer Application (except to the extent any Project
                        Connect API or Confidential Information are incorporated therein). Developer agrees that
                        Project Connect or any or all of its health plan customers may acknowledge or promote
                        the Developer Application to any or all End Users, in their sole discretion. Developer
                        hereby grants Project Connect and its health plan customers a non-exclusive, nontransferable, limited license to use Developer’s name and trademarks to promote 
                        Developer Applications. Project Connect acknowledges that, except for this limited
                        license, Developer retains all right, title and interest in and to Developer’s name and
                        trademarks. 
                    </p>
                    <p>15.3 Feedback and Residuals. If Developer provides or communicates any suggestions
                        for improvements to Project Connect (collectively, “<strong>Feedback</strong>”), Project Connect is
                        entitled to use the Feedback without restriction, in its sole discretion and without any
                        obligation of compensation. Developer agrees not to provide Project Connect with any
                        Feedback that (a) breaches obligations of confidentiality owed to a third party; (b)
                        infringes any third party intellectual property rights or any applicable law; or (c) constitutes
                        “spam” or is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory,
                        libelous, obscene, vulgar, invasive of another’s privacy, hateful, or racially, ethnically, or
                        otherwise objectionable. Developer agrees to grant and hereby grants Project Connect
                        and its affiliates a perpetual, non-exclusive, worldwide, irrevocable license to use,
                        reproduce, modify, license, sublicense (through multiple tiers of sublicensees), distribute
                        (through multiple tiers of distributors) and otherwise commercialize and exploit any
                        Feedback without the payment of any fees or royalties to Developer. Project Connect has
                        no obligation to respond to Feedback or to incorporate Feedback into the Project Connect
                        API. Developer further agrees that Project Connect shall be free to use any general
                        knowledge, skills and experience, (including, but not limited to, ideas, concepts, knowhow, or techniques) ("<strong>Residuals</strong>"), contained in Feedback, Developer products and/or
                        Developer’s confidential information voluntarily provided to Project Connect and which
                        are retained in the memories of Project Connect’s employees, agents, or contractors who
                        have had access to such Residuals. Project Connect shall have no obligations to limit or
                        restrict the assignment of such employees, agents or contractors or to pay fees or
                        royalties for any work resulting from the use of Residuals.
                    </p>
                    <p><strong>16.</strong> No Competitive Use. Developer specifically agrees not to use or access the Project
                        Connect API or Confidential Information or create Developer Applications (a) if Developer
                        is a direct competitor of Project Connect, or (b) to monitor the availability or performance
                        of any Project Connect products or services, or (c) for any benchmarking or other
                        purposes competitive to Project Connect.
                    </p>
                    <p><strong>17.</strong> Limited Liability; Exclusion of Certain Damages. EXCEPT TO THE EXTENT THAT ANY
                        EXCLUSION OR LIMITATION OF LIABILITY IS VOID, PROHIBITED OR
                        UNENFORCEABLE BY APPLICABLE LAW, IN NO EVENT SHALL PROJECT
                        CONNECT BE LIABLE CONCERNING THE SUBJECT MATTER OF THESE TERMS
                        AND CONDITIONS, REGARDLESS OF THE FORM OF ANY CLAIM OR ACTION
                        (WHETHER IN CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE),
                        FOR ANY (A) LOSS OF DATA, LOSS OR INTERRUPTION OF USE OF ANY PART OR
                        ALL OF THE PROJECT CONNECTION API, OR COST OF PROCURING SUBSTITUTE
                        TECHNOLOGY, GOODS OR SERVICES, (B) INDIRECT, PUNITIVE, INCIDENTAL,
                        RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING,
                        BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL
                        OR (C) AGGREGATE DAMAGES IN EXCESS OF $100, EVEN IF PROJECT CONNECT
                        HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE
                        LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THESE
                        TERMS AND CONDITIONS AND SHALL APPLY NOTWITHSTANDING THE FAILURE
                        OF ANY REMEDY PROVIDED HEREIN. 
                    </p>
                    <p><strong>18.</strong> Indemnification. Developer agrees to indemnify and hold harmless Project Connect
                        and its corporate affiliates and health plan customers and its and their directors, officers,
                        employees, successors, assigns and agents from and against any claim, action,
                        proceeding or cause of action by a third party, and all resulting loss, damages,
                        settlement, penalty, cost, expense and liability (including but not limited to reasonable
                        attorney fees and expenses), arising out of or related to: (a) Developer’s breach of
                        these Terms and Conditions; (b) Developer Applications; (c) any claims from End Users
                        of Developer Applications; and (d) Developer’s violation of any law or regulation or the
                        rights of any third party.
                    </p>
                    <p><strong>19.</strong> Binding Arbitration. In the event of any claim against or dispute or controversy with
                        Project Connect arising out of or relating to these Terms and Conditions, including use
                        of the Developer Application, or Project Connect APIs, (collectively, “<strong>Disputes</strong>”),
                        Developer agrees to first contact Project Connect by U.S. Mail at 4730 University Way
                        NE, Suite 104 PMB Seattle, WA 98105 and attempt to resolve the Dispute with Project
                        Connect informally. In the unlikely event that Project Connect has not been able to
                        resolve such Dispute it has with Developer within 60 days of original informal claim (or
                        sooner if, in Project Connect’s opinion, a Dispute is not likely to be resolved within 60
                        days), Developer and Project Connect each agree to resolve any such Dispute
                        (excluding any Project Connect claims for injunctive or other equitable relief) by binding
                        arbitration before an arbitrator from Judicial Mediation and Arbitration Services ("JAMS")
                        located in Seattle, Washington under the Optional Expedited Arbitration Procedures
                        then in effect for JAMS, except as provided herein. The arbitration will be conducted in
                        King County, Washington (or the nearest JAMS office to King County), unless
                        Developer and Project Connect agree otherwise. Nothing in this Section shall prevent
                        either party from seeking injunctive or other equitable relief from any courts as
                        necessary to prevent the actual or threatened infringement, misappropriation, or
                        violation of that party's data security, intellectual property rights, confidentiality rights, or
                        other proprietary rights. If for any reason this agreement to arbitrate is found not to
                        apply to a Dispute and as a result a Dispute proceeds in court rather than in arbitration,
                        the dispute shall be exclusively brought in state or federal court in King County,
                        Washington.
                    </p>
                    <p>ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND
                        NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
                        REPRESENTATIVE PROCEEDING. THIS WAIVER APPLIES TO CLASS
                        ARBITRATION UNLESS SUCH ARBITRATION IS NECESSARY TO EFFECTUATE
                        THE ENFORCEMENT OF THE COURT CLASS ACTION WAIVER OR IN THE EVENT
                        THAT CLASS ARBITRATION IS EXPRESSLY AGREED TO BY PROJECT CONNECT.
                        DEVELOPER AGREES THAT, BY ENTERING INTO THESE TERMS AND
                        CONDITIONS, DEVELOPER IS WAIVING THE RIGHT TO A TRIAL BY JURY OR TO
                        PARTICIPATE IN A CLASS ACTION. DEVELOPER MAY OPT OUT OF THE
                        FOREGOING ARBITRATION AND CLASS ACTION/JURY TRIAL WAIVER PROVISION 
                        OF THESE TERMS AND CONDITIONS BY NOTIFYING PROJECT CONNECT IN
                        WRITING WITHIN 30 DAYS OF COMMENCEMENT OF USE OF PROJECT CONNECT
                        API (WHICHEVER IS EARLIER) UNDER THESE TERMS AND CONDITIONS. SUCH
                        WRITTEN NOTIFICATION MUST BE SENT TO ATTN: 4730 University Way NE, Suite
                        104 PMB Seattle, WA 98105 AND MUST INCLUDE (1) DEVELOPER NAME, (2)
                        DEVELOPER ADDRESS, (3) THE REFERENCE TO THE PROJECT CONNECT TERMS
                        AND CONDITIONS THAT THE NOTICE RELATES TO, AND (4) A CLEAR STATEMENT
                        INDICATING THAT DEVELOPER DOES NOT WISH TO RESOLVE DISPUTES
                        THROUGH ARBITRATION AND DEMONSTRATING COMPLIANCE WITH THE 30 DAY
                        TIME LIMIT TO OPT OUT.
                    </p>
                    <p><strong>20.</strong> Notices. If Project Connect needs to contact Developer about these Terms and
                        Conditions (including without limitation use Project Connect API), Developer consents to
                        receive notices by email. Notices from Developer to Project Connect will be sent
                        to PBCInteropDevHelp@project-connect.com. Notices from Project Connect to
                        Developer will be sent to the contact name and address or email address that Developer
                        provides in the registration process for the Project Connect API.
                    </p>
                    <p><strong>21.</strong> Modifications to Terms and Conditions. Project Connect reserves the right to modify
                        these Terms and Conditions by posting a revised version on the Project Connect
                        website and will indicate at the top of this page the date these Terms and Conditions were
                        last revised. We will also attempt to notify you and any impacted clients, in an email
                        notification or through other reasonable means. Revisions will be effective fifteen (15)
                        days after posting, except that changes addressing additional new functions or features
                        of the Project Connect API or changes made for legal reasons will be effective
                        immediately. Continued use of the Project Connect API after the effective date of a
                        revision will constitute Developer’s acceptance of the modified Terms and Conditions. If
                        Developer does not agree to a revision, Developer may terminate this Terms and
                        Conditions by providing written notice to Project Connect as provided in Section 12.2. In
                        such event, the previous Terms and Conditions shall apply until the date of termination.
                    </p>
                    <p><strong>22. Advertising or Publicity.</strong> Developer shall neither use Project Connect’s name (or
                        Project Connect Marks) nor refer to the existence of these Terms and Conditions or
                        services in publicity releases, advertising, or communication of any type without Project
                        Connect’s express prior written permission.
                    </p>
                    <p><strong>23. Governing Law.</strong> These Terms and Conditions are governed by the laws of the State
                        of Washington, without regard to its conflicts of law principles. . The United Nations
                        Convention on Contracts for the International Sale of Goods shall not apply to these
                        Terms and Conditions. Developer hereby agrees to all terms of these Terms and
                        Conditions in the English language.
                    </p>
                    <p><strong>24. Relationship of Parties.</strong> Developer and Project Connect are independent
                        contractors to each other with respect to the activities under these Terms and Conditions
                        and neither party is an agent or partner of the other. Developer will not have, and will not
                        represent to any third party that it has, any authority to act on behalf of Project Connect
                        or any of its health plan customers.
                    </p>
                    <p><strong>25. General.</strong> Developer agrees that Project Connect’s health plan customers shall be
                        third party beneficiaries under these Terms and Conditions with respect to the rights and
                        obligations in these Terms and Conditions that directly affect them and that, accordingly,
                        such health plan customers may directly enforce against Developer such rights and
                        obligations. Developer agrees that any such notices that Project Connect sends
                        electronicall will satisfy any legal communication requirements. Developer shall direct 
                        any legal notices or other correspondence to 4730 University Way NE, Suite 104 PMB
                        Seattle, WA 98105 Attention: Legal Department]. Project Connect will not be liable for
                        delay or default under these Terms and Conditions if caused by any Acts of God, war,
                        terrorist act, government regulation, governmental travel advisories or restrictions, or
                        other government acts, curtailment of transportation facilities, riots, disaster, fire or other
                        casualty, epidemic, pandemic, power interruption or failure, strikes or other labor action,
                        or any other cause outside the reasonable control of Project Connect. Developer may not
                        transfer or assign these Terms and Conditions to a third party without the prior written
                        consent of Project Connect. Project Connect may transfer or assign these Terms and
                        Conditions to a third party without Developer’s prior written consent, including without
                        limitation in the event of a merger (by operation of law or otherwise), consolidation,
                        reorganization, or change in control, or any sale of all or substantially all of Project
                        Connect’s assets related to these Terms and Conditions or similar transaction. These
                        Terms and Conditions will bind and benefit the parties, their successors, and their
                        permitted assigns. These Terms and Conditions represents the complete and exclusive
                        Terms and Conditions between Developer and Project Connect with respect to
                        Developer’s use of the Project Connect API as identified herein, and these Terms and
                        Conditions supersedes any contemporaneous or prior terms and conditions regarding
                        the Project Connect API as identified herein, whether written or oral. If any provision of
                        these Terms and Conditions are held to be unenforceable by a court of competent
                        jurisdiction, then that provision is to be construed either by modifying it to the minimum
                        extent necessary to make it enforceable (if permitted by law) or disregarding it (if not
                        permitted by law), and the rest of these Terms and Conditions will remain in effect as
                        written. 
                    </p>
                    <!-- ################################################################################# -->
                </div>
                <!-- ########################################################################### -->
                <!-- ############# END END ----- Terms & Conditions ----- END END ############## -->
                <!-- ########################################################################### -->
                <hr>
                <br>
            </div><!-- END  class="content-grid" -->
            <!--Buttons-->
            <div class="form-btn-group" align="center">
                <label class="left-btnLink" type="submit"><a href="/">Cancel</a></label>
                <button class="btn btn-primary" name="TermsAccepted" value="Accept" type="submit" title="I Accept">&nbsp;&nbsp;I Accept&nbsp;&nbsp;</button>
            </div>
        </form>
    </div>
</div>
<!-- ########################################################################### -->
<!-- ############# END END ----- MAIN CONTENT HERE ----- END END ############### -->
<!-- ########################################################################### -->
<!-- ########################################################################### -->

<div class="fixed-bottom"><% include footer %></div>

</body>
</html>
